# libraries needed by geograpy3
# https://github.com/codelucas/newspaper
# https://pypi.org/project/newspaper/
# https://pypi.org/project/newspaper3k/
newspaper3k>=0.2.8
# https://pypi.org/project/nltk/
nltk>=3.7
# https://pypi.org/project/jellyfish/
jellyfish>=0.9.0
# https://pypi.org/project/numpy/
# python 3.7 compatible version
numpy>=1.21.4
# Tabular storage e.g. SQL/SPARQL/JSON
# https://pypi.org/project/pylodstorage/
pylodstorage~=0.4.7
# Documentation Read the docs Theme
sphinx-rtd-theme
# https://pypi.org/project/scikit-learn/
# python 3.7 compatible version
scikit-learn>=1.0.2
# https://pypi.org/project/pandas/
# python 3.7 compatible version
pandas>=1.3.5
