# libaries needed by geograpy3
# https://github.com/codelucas/newspaper
# https://pypi.org/project/newspaper/
# https://pypi.org/project/newspaper3k/
newspaper3k
# https://pypi.org/project/nltk/
nltk
# https://pypi.org/project/jellyfish/
jellyfish
# https://pypi.org/project/numpy/
numpy
# Tabular storage e.g. SQL/SPARQL/JSON
# https://pypi.org/project/pylodstorage/
pylodstorage>=0.0.80
# Documentation Read the docs Theme
sphinx-rtd-theme
# https://pypi.org/project/scikit-learn/
scikit-learn
# https://pypi.org/project/pandas/
pandas
